.first_section {
  display: flex;
}

.first_content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin: 1rem;
  align-items: center;
}

.canva_image {
  width: 400px;
  height: 400px;
  filter: drop-shadow(0 0 10px #775cff);
}

.first_section h1 {
  font-size: 3rem;
  font-weight: 500;
  color: #F5F5F5
}

.first_section h2 {
  color: rgba(255, 200, 60);
}

.first_section p {
  font-size: 1.5rem;
  color: #F5F5F5;
}

.first_section a {
  background: rgb(50, 200, 107);
  padding: .5rem;
  border-radius: .5rem;
  text-decoration: none;
  color: #F5F5F5;
  font-size: 1.4rem;
  transition: .4s ease-in-out;
}

.first_section a:hover, .second_section a:hover {
  background: #F5F5F5;
  color: rgb(50, 200, 107);;
}

.second_section a {
  background: rgb(50, 200, 107);
  padding: .5rem;
  border-radius: .5rem;
  text-decoration: none;
  width: 80%;
  margin: 1rem;
  color: #F5F5F5;
  font-size: 1.2rem;
  transition: .4s ease-in-out;
}

.second_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #121212;
}

.second_section h2 {
  color: #F5F5F5;
  font-size: 2.5rem;
  margin: 1rem;
}

.second_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 1rem;
}

.third_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(10,10,10, .85);
}

.third_section h2 {
  margin-top: 1rem;
  font-size: 2.25rem;
}

.third_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  gap: 2rem;
}

.faq_section {
  background: #121212;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.faq_section h2 {
  align-self: center;
  font-size: 2rem;
}

.faq_content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: .25rem;
}

.faq_item {
  border: 1px solid rgb(39, 118, 221);
  padding: 1rem;
  border-radius: .5rem;
}

.faq_item summary{
  font-size: 1.25rem;
}

.final_section {
  display: flex;
  justify-content: center;
  background: rgba(10,10,10, .85);
}

.final_content {
  margin: 1rem;
}
.canva_logo {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.final_content a {
  text-decoration: none;
  background: rgba(50, 100, 255);
  padding: .5rem;
  border-radius: .5rem;
  color: #F5F5F5;
  width: 100%;
  margin-top: 1rem;
}

.final_content h4 {
  font-size: 2rem;
  color: rgb(50, 200, 107);
}

@media screen and (max-width: 768px) {
  .first_content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .first_section a, .second_section a {
    font-size: 1.75rem;
  }

  .canva_image {
    width: 300px;
    height: 300px;
    margin: 2rem 0;
  }

  .second_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .third_section h2 {
    font-size: 1.75rem;
  }
  
}